.App-header {
  background-color: #4a90e2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  position: relative;
}

.language-selector {
  position: absolute;
  top: 10px;
  right: 10px;
}

.App-link {
  color: #ff6f61;
}

.App-nav {
  background-color: #343a40;
  padding: 10px;
}

.App-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.App-nav li {
  margin-right: 20px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}